<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxf.mapper.AccountMapper">
      <!-- 这里要对Account对象的Users属性进行一对一配置才可以。  -->
    <resultMap id="accountUserMap" type="account">
        <id property="id" column="id"></id>
        <result property="uid" column="uid"></result>
        <result property="accno" column="accno"></result>
        <result property="password" column="password"></result>
        <result property="balance" column="balance"></result>
        <result property="name" column="name"></result>
         <!-- 针对 user表信息的映射对称-->
         <association property="user" column="uid" javaType="users"> <!--这个users对应的是类名 -->
             <id property="userid" column="userid"></id>
             <id property="username" column="username"></id>
             <id property="text" column="text"></id>
             <id property="userage" column="userage"></id>
         </association>

    </resultMap>



       <!-- 查询所有 -->
    <select id="findAll" resultType="account">
        SELECT * FROM account
    </select>

    <select id="findallA_U" resultMap="accountUserMap">
        SELECT a.*,u.*  FROM account a ,users u WHERE a.uid=u.userid
    </select>
</mapper>