<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxf.mapper.EmployeeSchoolMapper">
    <select id="selectEmployeeSchoolById" resultType="EmployeeSchool" parameterType="string">
        SELECT * from employee_school WHERE emp_id=#{emp_id}
    </select>
</mapper>