<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${thText}"></p>
<p th:utext="${thUText}"></p>
<input type="text" th:value="${thValue}">
<div th:each="message:${thEach}">
    <p th:text="${message}"></p>
</div>
<div>
    <p th:text="${message}" th:each="message:${thEach}"></p>
</div>
<p th:text="${thIf}" th:if="${not #strings.isEmpty(thIf)}"></p>
<div th:object="${thObject}">
    <p>name:<span th:text="*{name}"></span></p>
    <p>age:<span th:text="*{age}"></span></p>
    <p>gender:<span th:text="*{gender}"></span></p>
</div>
</body>
</html>