<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxf.mapper.UserMapper">
    <insert id="save" parameterType="User">
        insert into user (name, pwd, head_img, phone,create_time)
        values
         (#{name},#{pwd},#{head_img},#{phone},#{create_time})
    </insert>

    <!--findByPhoneAndPwd  根据手机号和密码找用户-->
    <select id="findByPhoneAndPwd" resultType="User">
        select * from user where phone=#{phone} and pwd=#{pwd}
    </select>

    <select id="findByUserId" resultType="User">
        select * from user where id=#{user_id}
    </select>

</mapper>