<component name="ArtifactManager">
  <artifact type="war" name="mybatisProject-web:war">
    <output-path>$PROJECT_DIR$/mybatisProject-web/target</output-path>
    <root id="archive" name="mybatisProject-web-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatisProject-web:war exploded" />
    </root>
  </artifact>
</component>